extends layout

block content
 p This page is only visible to admins.
 p If you are seeing this page congrats on being an admin.
 p if you are not an admin but you see this page anyway call tech support at 1-800-855-5555