extends layout

block content
  form(id='form', method='post', action='/create')
    label(for='UserName') UserName: 
    input(type='text', name='UserName')
    br
    label(for='Password') Password: 
    input(type='text', name='Password')
    br
    label(for='userLevel') UserLevel: 
    select(name='userLevel')
      option(value="Regular") Regular
      option(value="Admin") Admin
    br
    label(for='Email') Email: 
    input(type='text', name='Email')
    br
    label(for='age') Age: 
    input(type='text', name='age')
    br
    input(type='submit', value='Add Person')
