extends layout

block content
  form(id='form', method='post', action='/edit/' + person.id)
    label(for='UserName') UserName: 
    input(type='text', name='UserName' value=person.UserName)
    br
    label(for='age') Age: 
    input(type='text', name='age' value=person.age)
    br
    label(for='userLevel') UserLevel: 
      option(selected = person.UserLevel) #{person.UserLevel}
    select(name='userLevel')
      option(value="Regular") Regular
      option(value="Admin") Admin
    br
    input(type='submit', value='Update Person')
