extends layout

block content
    canvas(id="myCanvas" style="background: black;")
    legend(for="myCanvas")
    canvas(id="myCanvas2" style="background: black;")
    legend(for="myCanvas2")
    canvas(id="myCanvas3" style="background: black;")
    legend(for="myCanvas3")
    script(src="graph.js")