doctype
html
  head
    title=title
    link(href='/styles/style.css', rel='stylesheet')
    a(href='/index') Users  
    a(href='/graphs') graphs  
    a(href='/logout') Logout
  body
    h3=title
    block content