doctype html
html
  head
    title Authentication
  body
    h3 Name Entry
    form(id='form', method='post', action='/')
      label Username:
      br
      input(type='text', name='username')
      br
      label Password:
      br
      input(type='password', name='pass')
      br
      input(type='submit', value='submit')