html {
  background-color: #141D29;
}
body {
  font-family: verdana, arial, sans-serif;
  font-size: 12px;
  width: 80%;
  padding: 20px;
  background-color: #486273;
}

table.gridtable {
  color: #337;
  border-width: 1px;
  border-color: grey;
  border-collapse: collapse;
}

table.gridtable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #000;
  background-color: antiquewhite;
}

table.gridtable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: silver;
  background-color: #fff;
}

button {
  height: 60px;
  width: 100px;
  border: 2px solid black;
  
}

.space{
  margin-bottom: 8px;
}

.space-top{
  margin-top: 8px;
}

.textspot{
  font-size: 16px;
}

.txtbox {
  display: none;
}